{% extends 'base.html' %}


{% block content %}



            <br>
        <h2 class="col-sm-4 col-md-offset-5">{{ product.product_name }} Details </h2>

            <div class="col-sm-4 col-md-offset-5">

                <div class="card">
                    <img class="card-img-top" src="{{ product.product_image.url }}" alt="Card image cap" width="180" height="auto">
                    <div class="card-block">
                        <h4 class="card-title">  Prodruct Name: {{ product.product_name }} </h4>
                        <h5 class="card-title"> Sold by:{{ product.product_seller }} </h5>
                        <h6 class="card-title"> Cost: ${{ product.product_cost }} </h6>
                        <p class="card-text"> Description: {{product.product_description}}</p>
                        <a href="{% url 'buyproduct' pk=product.id %}" class="btn btn-primary">Buy</a>

                    </div>
                </div>

            {% if warning %}
                <div class="alert">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>Warning!</strong> Best check yo self, you're not looking too good.
                </div>

             {% endif %}
            </div>

{% endblock %}